<div class="container border-top border-left border-right border-bottom" style="margin-top:20px; padding-top:10px; width:350px; margin: 20 auto;">
    <form #changePswdForm="ngForm" novalidate>
        <div class="form-group">
            <label for="CPInputCurrPswd">Current Password</label>
            <input type="password" class="form-control" id="CPInputCurrPswd" name="CPInputCurrPswd"
                [(ngModel)]="changePassword.currPswd" #currPswd="ngModel" minlength="5" maxlength="10">
            <small *ngIf="hasError(currPswd)" id="currPswdHelp" class="form-text help-block"
                [ngClass]='{"has-error": hasError(currPswd)}'>
                <span *ngIf="currPswd.errors.required">Enter valid password</span>
                <span *ngIf="currPswd.errors.minlength">Enter minimum 5 characters</span>
                <span *ngIf="currPswd.errors.maxlength">Maximum 10 characters only</span>
            </small>
        </div>
        <div class="form-group">
            <label for="CPInputNewPswd">New Password</label>
            <input type="password" class="form-control" id="CPInputNewPswd" name="CPInputNewPswd"
                [(ngModel)]="changePassword.newPswd" #newPswd="ngModel" minlength="5" maxlength="10">
            <small *ngIf="hasError(newPswd)" id="newPswdHelp" class="form-text help-block"
                [ngClass]='{"has-error": hasError(newPswd)}'>
                <span *ngIf="newPswd.errors.required">Enter valid password</span>
                <span *ngIf="newPswd.errors.minlength">Enter minimum 5 characters</span>
                <span *ngIf="newPswd.errors.maxlength">Maximum 10 characters only</span>
            </small>
        </div>

        <!-- <label for="inlineFormCurrPaswd">Current Password: </label>
        <input type="password" class="form-control mb-2 mr-sm-2 w-100" id="inlineFormCurrPaswd">

        <label for="inlineFormNewPswd">New Password: </label>
        <input type="password" class="form-control mb-2 mr-sm-2 w-100" id="inlineFormNewPswd"> -->

        <button type="submit" class="btn btn-primary mb-2" (click)="submitChangePasswordLogin(changePswdForm)">Save</button>
    </form>
</div> 