<div style="padding-top:10px;">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName4">Dish Name</label>
                <input type="text" class="form-control" id="inputName4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCategory4">Category</label>
                <select id="inputCategory4" class="form-control">
                    <option selected>Choose...</option>
                    <option>Desert</option>
                    <option>Meal</option>
                    <option>Snack</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea class="form-control" id="inputDescription"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPrice">Price</label>
                <input type="number" class="form-control" id="inputPrice">
            </div>
            <div class="form-group col-md-6">
                <label for="inputFile1">Upload an Image</label>
                <input type="file" class="form-control-file" id="inputFile1">
            </div>            
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                
            </div>
            <div class="form-group col-md-7">
                <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;
                <button type="cancel" class="btn btn-primary">Cancel</button>
            </div>
        </div>

    </form>
</div>