<div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-4 p-4" *ngFor="let dish of searchResult">
        <div class="card" style="width: 18rem;">
            <img src="{{imagePath}}{{dish.itemImage}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{dish.itemName}}</h5>
                <p class="card-text">{{dish.itemPrice |currency : 'INR'}}</p>
                <p class="card-text">{{dish.itemDescription}}</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option1" > -
                    </label>
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option2" checked disabled>  Add
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option3"> +
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>